.form{
    width: 700px;
    background: linear-gradient(315deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
    background-size: 20px 20px;

}

@media (max-width: 526px) {
    p {
        padding: 0 10px;
    }

    .form {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .form {
        width: 200px;
    }
}