body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background:  linear-gradient(89deg, #3f0acf 0%, #f8d617 100%);
}


button {
  cursor: pointer;
}